<div class="hideable">
  <%#= image_tag f.object.asset.url,
                size: '100x100' %>
  <%= f.input :asset,
              label: 'Seat asset',
              as: :file %>
  <%= f.link_to_remove "<i class='icon-minus-sign icon-white'></i>&nbsp;Remove this seat asset".html_safe %>
  <br>

  <br>
</div>
