<div class="span12">
  <%= simple_nested_form_for @order, url: wizard_path do |f| %>
    <h3>Life jackets</h3>
    <%= f.association :life_jackets,
                      collection: LifeJacket.order("name"),
                      label: 'Life jacket',
                      as: :check_boxes %>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>

<%= render partial: 'comments_stream' %>