<div class="span12">
  <%= simple_nested_form_for @order, url: wizard_path do |f| %>
    <h3>Seat layouts</h3>
    <%= f.association :seat_layout,
                      label: 'Seat layout',
                      as: :select,
                      collection: SeatLayout.order('name') %>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>

<%= render partial: 'comments_stream' %>