<p id="notice"><%= notice %></p>

<p>
  <b>Age:</b>
  <%= @life_jacket_age.age %>
</p>


<%= link_to 'Edit', edit_life_jacket_age_path(@life_jacket_age) %> |
<%= link_to 'Back', life_jacket_ages_path %>
