var video1_dom, video2_dom, video3_dom, video_seats_dom, video_boeing_top_dom, video_boeing_full_dom, video_final_menu_dom, video1, video2, video3, video_seats, video_boeing_top, video_boeing_full, video_final_menu, t, href, step, action, timeout, progress25, progress50, progress75, progress100, stepCounter;


$(document).ready(function () {

  // enable select2 js
  $('select.select2').select2();
  $('select.select2-fixed-width').select2({width: "200px"});

  // PJAX
  var duration = 500;
  $(document).pjax('a:not(.no-pjax)', '[data-pjax-container]', { duration: duration });

  $(document).on('submit', 'form:not(.no-pjax)', function (event) {
    $.pjax.submit(event, '[data-pjax-container]', { duration: duration });
  });

//  $('body').append('<div id="action-button" style="position: fixed; top: 0; left: 0; width: 100px; height: 50px; background-color: cadetblue; z-index: 3000; cursor: pointer;">Click!</div>');
//
//  $('body').on("click", "#action-button", function () {
//    playVideo(video_seats, 0, 1);
//  });

  // Side Nav
  $('body').on("click", '.side-menu-link', function () {
    $('.side-menu-link').toggleClass('active');
    $('#wrap').toggleClass('active');
    return false;
  });


  var data = $('#manufacturer').select2("data"),
      i = 1,
      val = 0;
  loadVideoAssets();


  $(document).on("click", '.prev', function () {
    if (i == 1) {
      i = 3;
    } else {
      i = i - 1;
    }

    $('#manufacturer').select2("val", i);
    data = $('#manufacturer').select2("data");
    $('.airbus-container, .boeing-container, .embraer-container').hide();
    $("." + data.text.toLowerCase() + "-container").show();

    val = $("#" + data.text.toLowerCase()).select2("val");
    $("#order_aeroplane_id").val(val);
    console.log($("#order_aeroplane_id").val());

    if (data.text.toLowerCase() == "airbus") {
      $('.video > video').removeClass("in-view");
      video2_dom.addClass("in-view");
      video2.currentTime = 1.2;
      playVideo(video2, 1.2, 2.4, 2.4);
      setTimeout(function () {
        $('.video > video').removeClass("in-view");
        video1_dom.addClass("in-view");
        video1.currentTime = 0.0;
        playVideo(video1, 0.0, 1.2, 1.3);
      }, 1200);
    } else if (data.text.toLowerCase() == "boeing") {
      $('.video > video').removeClass("in-view");
      video1_dom.addClass("in-view");
      video1.currentTime = 1.3;
      playVideo(video1, 1.3, 1.8, 1.8);
      setTimeout(function () {
        $('.video > video').removeClass("in-view");
        video_final_menu_dom.addClass("in-view");
        video_final_menu.currentTime = 0.0;
        playVideo(video_final_menu, 0.0, 1.5, 1.7);
      }, 500);
    } else if (data.text.toLowerCase() == "embraer") {
      video3_dom.addClass("in-view");
      video3.currentTime = 0.0;
      playVideo(video3, 0.0, 1.4, 1.4);
      setTimeout(function () {
        $('.video > video').removeClass("in-view");
        video2_dom.addClass("in-view");
        video2.currentTime = 0.0;
        playVideo(video2, 0.0, 1.2, 1.3);
      }, 1400);
    }

    $('#logo-list > li').removeClass('in-view').removeClass('in-view-minus').removeClass('in-view-plus');
    $('#logo-list > li[data-logo="' + i + '"]').addClass('in-view');
    $('#logo-list > li[data-logo="' + i + '"]').prevAll().addClass('in-view-minus');
    $('#logo-list > li[data-logo="' + i + '"]').nextAll().addClass('in-view-plus');

  });
  $(document).on("click", '.next', function () {
    if (i == 3) {
      i = 1;
    } else {
      i = i + 1;
    }
    $('#manufacturer').select2("val", i);
    data = $('#manufacturer').select2("data");
    $('.airbus-container, .boeing-container, .embraer-container').hide();
    $("." + data.text.toLowerCase() + "-container").show();

    val = $("#" + data.text.toLowerCase()).select2("val");
    $("#order_aeroplane_id").val(val);
    console.log($("#order_aeroplane_id").val());

    if (data.text.toLowerCase() == "airbus") {
      $('.video > video').removeClass("in-view");
      video3_dom.addClass("in-view");
      video3.currentTime = 0.0;
      playVideo(video3, 0.0, 1.4, 1.4);
      setTimeout(function () {
        $('.video > video').removeClass("in-view");
        video1_dom.addClass("in-view");
        video1.currentTime = 0.0;
        playVideo(video1, 0.0, 1.2, 1.3);
      }, 1400);
    } else if (data.text.toLowerCase() == "boeing") {
      video2_dom.addClass("in-view");
      video2.currentTime = 1.2;
      playVideo(video2, 1.2, 2.4, 2.4);
      setTimeout(function () {
        $('.video > video').removeClass("in-view");
        video_final_menu_dom.addClass("in-view");
        video_final_menu.currentTime = 0.0;
        playVideo(video_final_menu, 0.0, 1.5, 1.7);
      }, 1200);
    } else if (data.text.toLowerCase() == "embraer") {
      $('.video > video').removeClass("in-view");
      video1_dom.addClass("in-view");
      video1.currentTime = 1.3;
      playVideo(video1, 1.3, 1.8, 1.8);
      setTimeout(function () {
        $('.video > video').removeClass("in-view");
        video2_dom.addClass("in-view");
        video2.currentTime = 0.0;
        playVideo(video2, 0.0, 1.2, 1.3);
      }, 500);
    }

    if (data.text.toLowerCase() == "airbus") {

    } else if (data.text.toLowerCase() == "boeing") {

    } else if (data.text.toLowerCase() == "embraer") {

    }

    $('#logo-list > li').removeClass('in-view').removeClass('in-view-minus').removeClass('in-view-plus');
    $('#logo-list > li[data-logo="' + i + '"]').addClass('in-view');
    $('#logo-list > li[data-logo="' + i + '"]').prevAll().addClass('in-view-minus');
    $('#logo-list > li[data-logo="' + i + '"]').nextAll().addClass('in-view-plus');

  });

  $(document).on("change", '#airbus', function () {
    val = $(this).select2("val");
    $("#order_aeroplane_id").val(val);
  });

  $(document).on("change", '#boeing', function () {
    val = $(this).select2("val");
    $("#order_aeroplane_id").val(val);
  });

  $(document).on("change", '#embraer', function () {
    val = $(this).select2("val");
    $("#order_aeroplane_id").val(val);
  });


});

$(document).on('pjax:start', function () {
  console.log("pjax:start");
  $('#pjax-container').fadeOut("fast");
});
$(document).on('pjax:waiting', function () {
  console.log("pjax:waiting");
});
$(document).on('pjax:end', function () {
  console.log("pjax:end");
  videoSwitch();
  $('.select2-container').remove();
  $('select.select2').select2();
  $('select.select2-fixed-width').select2({width: "200px"});
  $('#pjax-container').fadeIn("fast");
});
$(document).on('pjax:click', function () {
  console.log("pjax:click");
});
$(document).on('pjax:beforeSend', function () {
  console.log("pjax:beforeSend");
});
$(document).on('pjax:send', function () {
  console.log("pjax:send");
});
$(document).on('pjax:complete', function () {
  console.log("pjax:complete");
});
$(document).on('pjax:success', function () {
  console.log("pjax:success");
});
$(document).on('pjax:error', function () {
  console.log("pjax:error");
});
$(document).on('pjax:timeout', function () {
  console.log("pjax:timeout");
});

$(document).on('nested:fieldAdded', function (event) {
  $('select.select2').select2();
  $('select.select2-fixed-width').select2({width: "200px"});
});

$(window).load(function () {
  var sound;

  loadVideoAssets();
  videoSwitch();

  if ($('.audio-player')) {
    sound = $('.audio-player').attr('data-audio-file');
    soundManager.setup({
      url: '/path/to/swf-files/',
      // optional: use 100% HTML5 mode where available
      // preferFlash: false,
      onready: function () {
        var mySound = soundManager.createSound({
          id: 'aSound',
          url: sound
        });
        $('.play-button').on("click", function (e) {
          e.preventDefault();
          mySound.play();
        });
        $('.stop-button').on("click", function (e) {
          e.preventDefault();
          mySound.stop();
        });
        $('.pause-button').on("click", function (e) {
          e.preventDefault();
          mySound.pause();
        });
      },
      ontimeout: function () {
        // Hrmm, SM2 could not start. Missing SWF? Flash blocked? Show an error, etc.?
      }
    });
  }
});

function loadVideoAssets() {
  video1_dom = $('#video-background-1');
  video2_dom = $('#video-background-2');
  video3_dom = $('#video-background-3');
  video_seats_dom = $('#video-background-seats');
  video_boeing_top_dom = $('#video-background-boeing-top');
  video_boeing_full_dom = $('#video-background-boeing-full');
  video_final_menu_dom = $('#video-background-final-menu');
  video1 = video1_dom.get(0);
  video2 = video2_dom.get(0);
  video3 = video3_dom.get(0);
  video_seats = video_seats_dom.get(0);
  video_boeing_top = video_boeing_top_dom.get(0);
  video_boeing_full = video_boeing_full_dom.get(0);
  video_final_menu = video_final_menu_dom.get(0);

  progress25 = $('.progress-indicator-inner-25');
  progress50 = $('.progress-indicator-inner-50');
  progress75 = $('.progress-indicator-inner-75');
  progress100 = $('.progress-indicator-inner-100');

  stepCounter = $('.step-counter');
}

function videoSwitch() {
  href = window.location.href.split('/');
  step = href[href.length - 1];
  action = step == "edit" ? href[href.length - 3] : href[href.length - 2];
  timeout = 0;
  console.log(href + " " + step + " " + action);

  switch (step + "_" + action) {
    case "edit_orders":
      $('.video > video').removeClass("in-view");
      video_final_menu_dom.addClass("in-view");
      t = video_final_menu.currentTime;
      if (t == 1.7) {
        video_final_menu.currentTime = 1.7;
      } else {
        video_final_menu.currentTime = 0.0;
        setTimeout(function () {
          playVideo(video_final_menu, 0.0, 1.5, 1.7);
        }, timeout);
      }
      progress25.width(100 / 3 + "%");
      progress50.width("0%");
      progress75.width("0%");
      progress100.width("0%");
      stepCounter.find("p").css({left: ((0 / 3) + (0 / 8) + (0 / 3) + (0 / 40)) / 4 + "%"})
          .html("<strong>Step 1:</strong> Aircraft make and model");
      break;
    case "new_orders":
      $('.video > video').removeClass("in-view");
      video_final_menu_dom.addClass("in-view");
      t = video_final_menu.currentTime;
      if (t == 1.7) {
        video_final_menu.currentTime = 1.7;
      } else {
        video_final_menu.currentTime = 0.0;
        setTimeout(function () {
          playVideo(video_final_menu, 0.0, 1.5, 1.7);
        }, timeout);
      }
      progress25.width(100 / 3 + "%");
      progress50.width("0%");
      progress75.width("0%");
      progress100.width("0%");
      stepCounter.find("p").css({left: ((0 / 3) + (0 / 8) + (0 / 3) + (0 / 40)) / 4 + "%"})
          .html("<strong>Step 1:</strong> Aircraft make and model");
      break;
    case "brandings_order_steps":
      $('.video > video').removeClass("in-view");
      video_final_menu_dom.addClass("in-view");
      t = video_final_menu.currentTime;
      if (t == 1.7) {
        video_final_menu.currentTime = 1.7;
      } else {
        video_final_menu.currentTime = 0.0;
        setTimeout(function () {
          playVideo(video_final_menu, 0.0, 1.5, 1.7);
        }, timeout);
      }
      progress25.width(200 / 3 + "%");
      progress50.width("0%");
      progress75.width("0%");
      progress100.width("0%");
      stepCounter.find("p").css({left: ((100 / 3) + (0 / 8) + (0 / 3) + (0 / 40)) / 4 + "%"})
          .html("<strong>Step 2:</strong> Brandings");
      break;
    case "liveries_order_steps":
      $('.video > video').removeClass("in-view");
      video_final_menu_dom.addClass("in-view");
      t = video_final_menu.currentTime;
      if (t == 1.7 || t == 3.3) {
        video_final_menu.currentTime = 1.7;
      } else {
        video_final_menu.currentTime = 0.0;
        setTimeout(function () {
          playVideo(video_final_menu, 0.0, 1.5, 1.7)
        }, timeout);
      }
      progress25.width("100%");
      progress50.width("0%");
      progress75.width("0%");
      progress100.width("0%");
      stepCounter.find("p").css({left: ((200 / 3) + (0 / 8) + (0 / 3) + (0 / 40)) / 4 + "%"})
          .html("<strong>Step 3:</strong> Liveries");
      break;
    case "seat_layouts_order_steps":
      $('.video > video').removeClass("in-view");
      video_final_menu_dom.addClass("in-view");
      t = video_final_menu.currentTime;
      if (t == 3.3) {
        video_final_menu.currentTime = 3.3;
      } else {
        video_final_menu.currentTime = 1.7;
        setTimeout(function () {
          playVideo(video_final_menu, 1.7, 3.1, 3.3);
        }, timeout);
      }
      progress25.width("100%");
      progress50.width(100 / 8 + "%");
      progress75.width("0%");
      progress100.width("0%");
      stepCounter.find("p").css({left: ((300 / 3) + (0 / 8) + (0 / 3) + (0 / 40)) / 4 + "%"})
          .html("<strong>Step 4:</strong> Seat layouts");
      break;
    case "life_jackets_order_steps":
      $('.video > video').removeClass("in-view");
      video_final_menu_dom.addClass("in-view");
      t = video_final_menu.currentTime;
      if (t == 3.3) {
        video_final_menu.currentTime = 3.3;
      } else {
        video_final_menu.currentTime = 1.7;
        setTimeout(function () {
          playVideo(video_final_menu, 1.7, 3.1, 3.3);
        }, timeout);
      }
      progress25.width("100%");
      progress50.width(200 / 8 + "%");
      progress75.width("0%");
      progress100.width("0%");
      stepCounter.find("p").css({left: ((300 / 3) + (100 / 8) + (0 / 3) + (0 / 40)) / 4 + "%"})
          .html("<strong>Step 5:</strong> Life jackets");
      break;
    case "consoles_order_steps":
      $('.video > video').removeClass("in-view");
      video_final_menu_dom.addClass("in-view");
      t = video_final_menu.currentTime;
      if (t == 3.3) {
        video_final_menu.currentTime = 3.3;
      } else {
        video_final_menu.currentTime = 1.7;
        setTimeout(function () {
          playVideo(video_final_menu, 1.7, 3.1, 3.3);
        }, timeout);
      }
      progress25.width("100%");
      progress50.width(300 / 8 + "%");
      progress75.width("0%");
      progress100.width("0%");
      stepCounter.find("p").css({left: ((300 / 3) + (200 / 8) + (0 / 3) + (0 / 40)) / 4 + "%"})
          .html("<strong>Step 6:</strong> Consoles");
      break;
    case "bins_order_steps":
      $('.video > video').removeClass("in-view");
      video_final_menu_dom.addClass("in-view");
      t = video_final_menu.currentTime;
      if (t == 3.3) {
        video_final_menu.currentTime = 3.3;
      } else {
        video_final_menu.currentTime = 1.7;
        setTimeout(function () {
          playVideo(video_final_menu, 1.7, 3.1, 3.3);
        }, timeout);
      }
      progress25.width("100%");
      progress50.width(400 / 8 + "%");
      progress75.width("0%");
      progress100.width("0%");
      stepCounter.find("p").css({left: ((300 / 3) + (300 / 8) + (0 / 3) + (0 / 40)) / 4 + "%"})
          .html("<strong>Step 7:</strong> Bins");
      break;
    case "lavatories_order_steps":
      $('.video > video').removeClass("in-view");
      video_final_menu_dom.addClass("in-view");
      t = video_final_menu.currentTime;
      if (t == 3.3) {
        video_final_menu.currentTime = 3.3;
      } else {
        video_final_menu.currentTime = 1.7;
        setTimeout(function () {
          playVideo(video_final_menu, 1.7, 3.1, 3.3);
        }, timeout);
      }
      progress25.width("100%");
      progress50.width(500 / 8 + "%");
      progress75.width("0%");
      progress100.width("0%");
      stepCounter.find("p").css({left: ((300 / 3) + (400 / 8) + (0 / 3) + (0 / 40)) / 4 + "%"})
          .html("<strong>Step 8:</strong> Lavatories");
      break;
    case "open_exit_doors_order_steps":
      $('.video > video').removeClass("in-view");
      video_final_menu_dom.addClass("in-view");
      t = video_final_menu.currentTime;
      if (t == 3.3) {
        video_final_menu.currentTime = 3.3;
      } else {
        video_final_menu.currentTime = 1.7;
        setTimeout(function () {
          playVideo(video_final_menu, 1.7, 3.1, 3.3);
        }, timeout);
      }
      progress25.width("100%");
      progress50.width(600 / 8 + "%");
      progress75.width("0%");
      progress100.width("0%");
      stepCounter.find("p").css({left: ((300 / 3) + (500 / 8) + (0 / 3) + (0 / 40)) / 4 + "%"})
          .html("<strong>Step 9:</strong> Open exit doors");
      break;
    case "closed_exit_doors_order_steps":
      $('.video > video').removeClass("in-view");
      video_final_menu_dom.addClass("in-view");
      t = video_final_menu.currentTime;
      if (t == 3.3) {
        video_final_menu.currentTime = 3.3;
      } else {
        video_final_menu.currentTime = 1.7;
        setTimeout(function () {
          playVideo(video_final_menu, 1.7, 3.1, 3.3);
        }, timeout);
      }
      progress25.width("100%");
      progress50.width(700 / 8 + "%");
      progress75.width("0%");
      progress100.width("0%");
      stepCounter.find("p").css({left: ((300 / 3) + (600 / 8) + (0 / 3) + (0 / 40)) / 4 + "%"})
          .html("<strong>Step 10:</strong> Closed exit doors");
      break;
    case "carpet_textures_order_steps":
      $('.video > video').removeClass("in-view");
      video_final_menu_dom.addClass("in-view");
      t = video_final_menu.currentTime;
      if (t == 3.3 || t == 5.2) {
        video_final_menu.currentTime = 3.3;
      } else {
        video_final_menu.currentTime = 1.7;
        setTimeout(function () {
          playVideo(video_final_menu, 1.7, 3.1, 3.3);
        }, timeout);
      }
      progress25.width("100%");
      progress50.width("100%");
      progress75.width("0%");
      progress100.width("0%");
      stepCounter.find("p").css({left: ((300 / 3) + (700 / 8) + (0 / 3) + (0 / 40)) / 4 + "%"})
          .html("<strong>Step 11:</strong> Carpet textures");
      break;
    case "economy_seats_order_steps":
      $('.video > video').removeClass("in-view");
      video_final_menu_dom.addClass("in-view");
      t = video_final_menu.currentTime;
      if (t == 6.0) {
        video_final_menu.currentTime = 5.2;
      } else {
        video_final_menu.currentTime = 3.3;
        setTimeout(function () {
          playVideo(video_final_menu, 3.3, 5.0, 5.2);
        }, timeout);
      }
      progress25.width("100%");
      progress50.width("100%");
      progress75.width(100 / 3 + "%");
      progress100.width("0%");
      stepCounter.find("p").css({left: ((300 / 3) + (800 / 8) + (0 / 3) + (0 / 40)) / 4 + "%"})
          .html("<strong>Step 12:</strong> Economy seats");
      break;
//    case "economy_seats":
//      $('.video > video').removeClass("in-view");
//      video_seats_dom.addClass("in-view");
//      t = video_seats.currentTime;
//      if(t > 0.4) {
//        video_seats.currentTime = 0.5;
//      } else {
//        video_seats.currentTime = 0.0;
//        setTimeout(function() {
//          playVideo(video_seats, 0.0, 0.5);
//        }, timeout);
//      }
//      break;
    case "business_seats_order_steps":
      $('.video > video').removeClass("in-view");
      video_final_menu_dom.addClass("in-view");
      t = video_final_menu.currentTime;
      if (t == 6.7) {
        video_final_menu.currentTime = 6.0;
      } else {
        video_final_menu.currentTime = 5.2;
        setTimeout(function () {
          playVideo(video_final_menu, 5.2, 5.8, 6.0);
        }, timeout);
      }
      progress25.width("100%");
      progress50.width("100%");
      progress75.width(200 / 3 + "%");
      progress100.width("0%");
      stepCounter.find("p").css({left: ((300 / 3) + (800 / 8) + (100 / 3) + (0 / 40)) / 4 + "%"})
          .html("<strong>Step 13:</strong> Business seats");
      break;
    case "first_class_seats_order_steps":
      $('.video > video').removeClass("in-view");
      video_final_menu_dom.addClass("in-view");
      video_final_menu.currentTime = 6.0;
      setTimeout(function () {
        playVideo(video_final_menu, 6.0, 7.2, 7.4);
      }, timeout);
      progress25.width("100%");
      progress50.width("100%");
      progress75.width("100%");
      progress100.width("0%");
      stepCounter.find("p").css({left: ((300 / 3) + (800 / 8) + (200 / 3) + (0 / 40)) / 4 + "%"})
          .html("<strong>Step 14:</strong> First class seats");
      break;
    default:
      $('.video > video').removeClass("in-view");
      break;
  }
}

function playVideo(videoAsset, start, end, setTime) {

  videoAsset.ontimeupdate = function () {
    if (this.currentTime >= end) {
      this.pause();
      this.currentTime = setTime;
    }
  };

  try {
    videoAsset.currentTime = start;
    videoAsset.play();
  } catch (ex) {
    //handle exceptions here
  }
}

function playSecond() {
  video1_dom.css('z-index', 1);
  video2_dom.css('z-index', 2);
  playVideo(video2, 0, 1);
}
