<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @seat_manufacturer.name %>
</p>


<%= link_to 'Edit', edit_seat_manufacturer_path(@seat_manufacturer) %> |
<%= link_to 'Back', seat_manufacturers_path %>
