<div class="brand-text-outer pull-left">
  <p class="brand-text">© Copyright 2013 Animation in Motion LLC. All rights reserved.</p>
</div>
<div class="brand-text-outer pull-right">
  <p class="brand-text">contact: <%= mail_to 'info@animationinmotion.com' %></p>
</div>
